
.hero{


    min-height:480px;


    display:flex;


    align-items:center;


    justify-content:space-between;


    position:relative;


}



.hero-left{


    width:55%;


}




.hero-left h1{


    font-size:68px;


    line-height:1.05;


    font-weight:900;


    letter-spacing:-2px;


    margin-bottom:25px;



    background:var(--text);



    -webkit-background-clip:text;




}




.hero-left p{


    font-size:18px;


    max-width:520px;


    margin-bottom:35px;


}




.hero-buttons{


    display:flex;


    align-items:center;


}




.hero-right{


    width:40%;


    height:450px;


    position:relative;


}






/* ================= FLOATING STAT CARDS ================= */


.floating-card{


    position:absolute;


    padding:22px 30px;


    border-radius:20px;


    background:var(--card);


    border:

    1px solid var(--border);


    backdrop-filter:blur(18px);


    box-shadow:var(--shadow);


}





.floating-card h2{


    font-size:34px;


    color:white;


}

.raised{
     font-size:34px;
    background:var(--text);

    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;
}





.floating-card p{


    color:white;


}





.card1{


    top:40px;


    right:120px;


}





.card2{


    top:160px;


    right:0;


    background:

    linear-gradient(
        135deg,
        #2563eb,
        #38bdf8
    );


}




.card3{


    bottom:80px;


    right:150px;


    background:

    linear-gradient(
        135deg,
        #2563eb,
        #38bdf8
    );


}







/* ================= FEATURE SECTION ================= */



.features{


    display:grid;


    grid-template-columns:
    repeat(3,1fr);


    gap:25px;


}






.feature-card{


    padding:32px;


    min-height:250px;


    background:var(--card);


    border:

    1px solid var(--border);


    border-radius:var(--radius);


    backdrop-filter:blur(20px);


    transition:.3s;


}





.feature-card:hover{


    transform:translateY(-8px);


}



.icon-box{


    width:55px;


    height:55px;


    display:flex;


    justify-content:center;


    align-items:center;


    border-radius:16px;


    background:

    rgba(0,217,156,.15);


    color:var(--green);


    font-size:24px;


    margin-bottom:25px;


}





.feature-card h3{
    margin-bottom:12px;
    font-size:21px;
}

/*WHY FUNDBRIDGE*/

.why{
    margin-top:90px;
    text-align:center;
}



.why h2{

    margin-top:90px;
    font-size:38px;
    margin-bottom:10px;

}


.subtitle{
    margin-bottom:45px;
}

.why-grid{
    display:grid;
    grid-template-columns:
    repeat(4,1fr);
    gap:25px;
}

.why-grid div{
    border:0.5px solid var(--border);
    border-radius:20px;
    padding:25px;
    text-align:center;
}

.why-grid i{
    color:var(--green);
    font-size:34px;
    margin-bottom:20px;
}

.why-grid h4{
   margin-bottom:10px;
    font-size:18px;
}
/*
   HOW IT WORKS
*/

.con{
    margin-top:90px;
    margin-bottom:90px;
}

.how{
    margin-top:90px;
    padding:45px 35px;
    background:var(--card);
    border:1px solid var(--border);
    border-radius:30px;
    text-align:center;
}

.how h2{
    font-size:38px;
    margin-bottom:10px;
}

.steps{
    margin-top:45px;
    display:grid;
    grid-template-columns:
    repeat(5,1fr);
    gap:20px;
    position:relative;
}

.step{
    border:#6efad0  1px solid;
    border-radius:20px;
    padding:25px 15px;
    position:relative;
}

.number{
    width:35px;
    height:35px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
    border-radius:50%;
    background:var(--green);
    color:#fff;
    font-size:14px;
    font-weight:700;
}

.step i{
    margin:20px 0;
    font-size:35px;
    color:var(--green);
}

.step h3{
    font-size:18px;
    margin-bottom:12px;
}

.step p{
    font-size:14px;
}

/* 
   DISCOVER OPPORTUNITIES
*/


.discover{
    margin-top:90px;
    display:grid;
    grid-template-columns:300px 1fr;
    gap:35px;
    padding:30px;
    background:var(--card);
    border:1px solid var(--border);
    border-radius:25px;
}

.discover-heading h2{
    font-size:32px;
    margin-bottom:15px;
}

.discover-heading p{
    margin-bottom:25px;
}

.discover-heading .outline-btn{
    margin-top:15px;
}

.startup-list{
    display:grid;
    grid-template-columns:
    repeat(3,1fr);
    gap:20px;
}

.startup-card{
    overflow:hidden;
    background:var(--bg-light);
    border-radius:20px;
    border:1px solid var(--border);
    transition:.3s;
}

.startup-card:hover{
    transform:translateY(-8px);
}

.startup-card img{
    width:100%;
    height:140px;
    object-fit:cover;
}

.startup-card span{
    display:inline-block;
    margin:18px 18px 5px;
    padding:5px 12px;
    border-radius:20px;
    background: rgba(0,217,156,.15);
    color:var(--green);
    font-size:12px;
}

.startup-card h3{
    margin:0 18px 10px;
    font-size:18px;
}

.startup-card p{
    margin:0 18px;
    font-size:14px;
}

.startup-card strong{
    display:block;
    margin:15px 18px;
    color:var(--green);
    font-size:20px;
}

/* 
   TESTIMONIAL
 */

 .test{
    margin-top:90px;
    text-align:center;
 }

.testimonials{
    margin-top:90px;
    text-align:center;
}

.testimonials h2{
    font-size:38px;
    margin-bottom:40px;
}

.testimonial-grid{
    display:grid;
    grid-template-columns:
    repeat(3,1fr);
    gap:25px;
}

.testimonial-card{
    min-height:230px;
    padding:30px;
    text-align:left;
    border-radius:22px;
    background:var(--card);
    border:1px solid var(--border);
}

.testimonial-card i{
    font-size:28px;
    color:var(--green);
    margin-bottom:20px;
}

.testimonial-card p{
    font-size:15px;
}

.testimonial-card h4{
    margin-top:25px;
}

/* 
   CTA SECTION
 */


.cta{
    margin-top:90px;


    padding:45px;


    display:flex;


    justify-content:space-between;


    align-items:center;


    gap:30px;


    border-radius:25px;


    background:


    linear-gradient(

    120deg,

    #00d99c,

    #2563eb

    );


}





.cta h2{


    color:#fff;


    font-size:35px;


    max-width:700px;


}





.cta p{


    color:#fff;


}





.cta .primary-btn{


    background:#fff;


    color:#00b982;


    box-shadow:none;


}
