.dashboard-wrapper{

min-height:100vh;

background:var(--bg);

}



.dashboard-main{

margin-left:250px;

padding:30px;

}



.dashboard-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}



.dashboard-header h1{

color:var(--text);

}



.profile-image{

width:45px;

height:45px;

border-radius:50%;

margin-left:15px;

}



.dashboard-cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.dashboard-card,
.chart-card,
.campaign-box,
.investor-box{

background:var(--card);

border:1px solid var(--border);

border-radius:20px;

padding:25px;

}



.dashboard-card h2{

font-size:35px;

color:var(--text);

}





.chart-card{

margin-top:25px;

}



.fake-chart{

height:300px;

background:

linear-gradient(
180deg,
rgba(0,217,156,.3),
transparent
);

border-radius:20px;

margin-top:20px;

}





.chart-line{

height:100%;

background:

linear-gradient(
90deg,
transparent,
rgba(0,217,156,.7)
);

clip-path:

polygon(
0 80%,
20% 60%,
40% 65%,
60% 35%,
80% 25%,
100% 5%,
100% 100%,
0 100%
);

}



.dashboard-bottom{

margin-top:25px;

display:grid;

grid-template-columns:2fr 1fr;

gap:25px;

}



.scroll-box{

max-height:300px;

overflow-y:auto;

}



table{

width:100%;

}



td,th{

padding:15px;

border-bottom:1px solid var(--border);

color:var(--text);

}



@media(max-width:900px){


.dashboard-main{

margin-left:80px;

}



.dashboard-cards{

grid-template-columns:repeat(2,1fr);

}



}



@media(max-width:600px){


.dashboard-main{

margin-left:0;

}



.dashboard-cards,
.dashboard-bottom{

grid-template-columns:1fr;

}



}